doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'Pioupiouter'
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css')
  body
    .min-h-screen.flex.items-center.justify-center.bg-gray-50.py-12.px-4(class='sm:px-6 lg:px-8')
      .max-w-md.w-full
        div
          h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900
            | Welcome
